<% provide(:title,'Update a Product') %>

<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<div class="btn-group">
    <%= link_to 'Show', @product,class: "btn btn-default" %>
    <%= link_to 'Back', products_path,class: "btn btn-default" %>
</div>