<footer class="footer">
  <small>
    Application carfted by <a href="https://github.com/nischaynamdev/">Nischay Namdev</a>
    on behalf of <a href="https://app.crossover.com">Crossover corp.</a>
  </small>
</footer>